.login_page .login_but{ margin-top: 50px;}
.login_page{width: 70%; margin: 50px auto auto auto;}
.login_h50{ height: 60px;}
.login_page div#img_verify{ width: 65px; height: 35px; text-align: center; background-color: #e5e4e4; border-radius: 5px;}

.login_page .myClass{ color: red;}